/* Reset some default styles for cross-browser consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a general background color and spacing */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Define common styles for sections and section titles */
.section {
    border: 1px solid #000;
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    width: calc(33.33% - 20px); /* Equal width for desktop */
    position: relative;
    text-align: center;
}

.section-title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00ff95;
    color: #fff;
    padding: 5px 10px;
}
.section-titlech {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
}
.section-titlebe {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #002fff;
    color: #fff;
    padding: 5px 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 991px) {
    .section {
        width: calc(50% - 20px); /* Equal width for tablet */
    }
}

@media screen and (max-width: 767px) {
    .section {
        width: 100%; /* Full width for mobile */
    }
}
